@*@{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>*@

@*////// ws


    <div ng-class="{'col-xs-12' : vm.details, 'col-xs-6': !vm.details}  row" ng-controller="MainController as vm">
        <div ng-hide="vm.newPerson">
            <input ng-model="search" placeholder="Search..." />

            <div class="col-xs-12 row" id="mainView">
                <div class="col-xs-2" style="font-size:large; color:#555;">Id</div>
                <div class="col-xs-2" style="font-size:large; color:#555;">Name</div>
                <div class="col-xs-2" style="font-size:large; color:#555;">Country</div>
                <div class="col-xs-2" style="font-size:large; color:#555;">Age</div>
                <div class="col-xs-2" style="font-size:large; color:#555;">Edit</div>
                <div class="col-xs-2" style="font-size:large; color:#555;">Delete</div>

            </div>

            <div class="col-xs-12 row">

                <div ng-repeat="people in vm.peopleList |filter:search track by $index">
                    <div class="col-xs-2">{{person.Id}}</div>
                    <div class="col-xs-2">{{person.Name}}</div>
                    <div class="col-xs-2">{{person.Country}}</div>
                    <div class="col-xs-2">{{person.Age}}</div>

                    <div class="col-xs-2"><a class="btn btn-sm btn-success" ng-click="vm.changeDetailsFunc(true, person)">Edit</a></div>
                    <div class="col-xs-2"><a class="btn btn-sm btn-danger">Delete</a></div>


                </div>
            </div>
        </div>

        <a class="btn btn-sm btn-success" ng-click="vm.changeFormValue(true)" ng-hide="vm.newPerson" ng-disabled="">Add person</a>

    </div>



    <div ng-controller="AddPersonController as vm">

        <div ng-show="vm.newPerson">
            <form ng-submit="vm.AddPerson()" name="personForm" novalidate>
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input ng-model="vm.person.name" class="form-control" ng-required="true" />
                </div>
                <div class="form-group">
                    <label class="control-label">Country</label>
                    <input ng-model="vm.person.country" class="form-control" ng-required="true" />
                </div>
                <div class="form-group">
                    <label class="control-label">Age</label>
                    <input ng-model="vm.person.age" class="form-control" ng-required="true" />
                </div>


                <input type="submit" value="Add Person" ng-disabled="personForm$invalid" class="btn btn-sm btn-success" />
                <input type="button" value="Cancel" ng-click="vm.changeFormValue(false)" class="btn btn-sm btn-info" />
            </form>


        </div>

    </div>

    <div>



    </div>*@







@*//////////////////////////// ews*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
        {{4+5}}
    </p>*@

<div home-page></div>

<div ng-controller="ListPersonController as list">
    <div ng-hide="people.editMode" ng-repeat="people in list.peoples">
        <hr />

        <h4> {{people.Name}} </h4>
        @*<p>{{people.Email}}</p>
            <p>{{people.PhoneNumber}}</p>
            <p>{{people.Country}}</p>*@
        <img ng-src="~/Angular/img/{{people.img}}" />
        <button ng-show="people.canEdit">Edit</button>
        <br />
        <section ng-controller="PanelController as panel">
            <ul class="nav nav-pills">
                <li ng-class="{active: panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Details</a></li>
                <li ng-class="{active: panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Edit</a></li>
                <li ng-class="{active: panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Delete</a></li>
            </ul>

            {{tab}}

            <div class="panel" ng-show="panel.isSelected(1)">
                <h4>Details</h4>
                <blockquote>
                    <p>{{people.Name}}</p>
                    <p>{{people.Email}}</p>
                    <p>{{people.PhoneNumber}}</p>
                    <p>{{people.Country}}</p>
                </blockquote>
            </div>
            <div class="panel" ng-show="panel.isSelected(2)">
                <h4>Edit</h4>
                <blockquote>
                    <p> {{people.Name}} </p>
                    <p>{{people.Email}}</p>
                    <p>{{people.PhoneNumber}}</p>
                    <p>{{people.Country}}</p>

                </blockquote>

                <form name="editForm" ng-controller="EditController as EditCtrl"
                      ng-submit="editForm.$valid && EditCtrl.editPerson(people)" action="/" method="post" novalidate>
                    <label>Enter name:</label>
                    <input ng-model="EditCtrl.edit.Name" type="text" name="firstName" value="" ng-required="true" />
                    @*<label>Enter lastname:</label>
                    <input ng-model="EditCtrl.edit.lastName" type="text" name="lastName" value="" required />*@
                    <label>Enter email:</label>
                    <input ng-model="EditCtrl.edit.Email" type="email"  ng-required="true" />
                    <label>Enter phonenumber:</label>
                    <input ng-model="EditCtrl.edit.PhoneNumber" type="text" ng-required="true" />
                    <label>Enter country:</label>
                    <input ng-model="EditCtrl.edit.Country" type="text" ng-required="true" />
                    <div>editForm is: {{editForm.$valid}}</div>
                    <input type="submit" name="name" value="submit" class="btn btn-default" />
                </form>
            </div>
            <div class="panel" ng-show="panel.isSelected(3)">
                <h4>Delete</h4>
                <p>{{people.Name}}</p>
            </div>

        </section>

    </div>
  @*  <a class="btn btn-sm btn-success" ng-click="vm.changeFormValue(true)" ng-hide="vm.newPerson" ng-disabled="">Add person</a>*@


</div>




<div ng-controller="AddPersonController as vm">

  @*  <div ng-show="vm.newPerson">*@
        <div>
        <form ng-submit="vm.AddPerson()" name="personForm" novalidate>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input ng-model="vm.person.Name" class="form-control" ng-required="true" />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input ng-model="vm.person.Email" class="form-control" ng-required="true" />
            </div>
            <div class="form-group">
                <label class="control-label">Phonenumber</label>
                <input ng-model="vm.person.PhoneNumber" class="form-control" ng-required="true" />
            </div>
            <div class="form-group">
                <label class="control-label">Country</label>
                <input ng-model="vm.person.Country" class="form-control" ng-required="true" />
            </div>
           
            <input type="submit" value="Add Person" ng-disabled="personForm$invalid" class="btn btn-sm btn-success" />
            <input type="button" value="Cancel" ng-click="vm.changeFormValue(false)" class="btn btn-sm btn-info" />
        </form>
    </div>

</div>

