
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div ng-controller="ContactController as list">
    <form>
        <label>Name:</label>
        <input type="text" name="name" ng-model="newperson.name" />
        <label>Email:</label>
        <input type="email" name="email" ng-model="newperson.email" />
        <label>Phonenumber:</label>
        <input type="text" name="phone" ng-model="newperson.phone" />
        <label>Country:</label>
        <input type="text" name="country" ng-model="newperson.country" />
        <br/>
        <br/>
        <input type="hidden" ng-model="newperson.id" />
        <input type="button" value="Save" ng-click="savePerson()" />
    </form>

    <div class="col-xs-12">
        <div class="col-xs-2" style="font-size:large">Name</div>
        <div class="col-xs-2" style="font-size:large">Email</div>
        <div class="col-xs-2" style="font-size:large">Phonenumber</div>
        <div class="col-xs-2" style="font-size:large">Country</div>
        <div class="col-xs-4" style="font-size:large">Action</div>
    </div>

    <div>
        <br/>
        <div class="col-xs-12" ng-repeat="person in people">
            <div class="col-xs-2">{{person.name}}</div>
            <div class="col-xs-2">{{person.email}}</div>
            <div class="col-xs-2">{{person.phone}}</div>
            <div class="col-xs-2">{{person.country}}</div>

            <div class="col-xs-4">
                <a href="#" ng-click="edit(person.id)">edit</a> |
                <a href="#" ng-click="delete(person.id)">delete</a>
            </div>           
           
        </div>
    </div>
</div>
