

<br/>
<br />

<p>FeverCheck</p>

<form>
    <div>
        <input name="FeverTemperature"/>
        <input type="submit" name="FeverTemperature" value="Enter temperature" />





    </div>




</form>
