
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
I'm {{4+6}}     
</p>

<p>
    {{"Hello" + " you"}}
</p>

<div ng-controller="StoreController as store">
 @*   <div ng-hide="store.product.soldOut">*@
    <div ng-repeat="product in store.products">
        <h1>{{product.name}}</h1>
        <h2>{{product.price | currency}}</h2>
        <p>{{product.description}}</p>
        <img ng-src="{{product.imgages[0].full}}" alt="Alternate Text" />
        <button ng-show="product.canPurchase">Add to cart</button>


        <section ng-controller="PanelController as panel">
            <ul class="nav nav-pills">
                <li ng-class="{active: panel.isSelected(1)}">
                    <a href ng-click="panel.selectTab(1)">Description</a>
                </li>
                <li ng-class="{active: panel.isSelected(2)}">
                    <a href ng-click="panel.selectTab(2)">Specifications</a>
                </li>
                <li ng-class="{active: panel.isSelected(3)}">
                    <a href ng-click="panel.selectTab(3)">Reviews</a>
                </li>
            </ul>
            
            <div class="panel" ng-show="panel.isSelected(1)">
                <h4>Description</h4>
                <p>{{product.description}}</p>
            </div>

            <div class="panel" ng-show="panel.isSelected(2)">
                <h4>Specifications</h4>
                <blockquote>Non yet</blockquote>
            </div>

            <div class="panel" ng-show="panel.isSelected(3)">
                <h4>Reviews</h4>
                <blockquote>Non yet</blockquote>
            </div>

        </section>

       

        @*<h1>{{store.product.name}}</h1>
        <h2>${{store.product.price}}</h2>
        <p>{{store.product.description}}</p>
        <em class="pull-right"> {{store.product.price}}</em>
        <button ng-show="store.product.canPurchase">Add to cart</button>*@
    </div>
  @*  </div> *@ 


    
</div>






<script src="~/scripts/angular.min.js"></script>