
@model List<AssignmentMVC.Models.People>
@{
    var CurrentList = Model;
}

    <h1>People</h1>

    <h4>List of peoples: </h4>

    <h4>@ViewBag.Message</h4>

<div class="container" id="show">
    
    @{
        Html.RenderAction("ShowPeoplePartial", "People");
    }


    </div>

<div id="search">

    @{
        Html.RenderAction("Search", "People");
    }

    </div>

<div id="add">
    @{
        Html.RenderAction("Add", "People");
    }

</div>
    <br />
  

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>



