
<h4>Add person:</h4>

@using (Ajax.BeginForm("AddPeople", "People",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "showPartial"
                }
                ))
{
    <p> Enter name:</p>
    <input name="name" class="form-control" />
        <br />
        <p> Enter phonenumber:</p>
        <input name="phoneNumber" class="form-control" />
        <br />
        <p> Enter city:</p>
        <input name="city" class="form-control" />
        <br />

        <input type="submit" value="Add" class="btn btn-sm btn-info" />

}

