@model AssignmentMVC.Models.People
    <div id="Person-@Model.Id">
    <div class="col-xs-4"> @Model.Name </div>
    <div class="col-xs-2"> @Model.PhoneNumber </div>
    <div class="col-xs-2"> @Model.City </div>
    <div class="col-xs-2">
    @using (Ajax.BeginForm("EditPeople", "People", new { id = Model.Id },
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "Person-" + Model.Id,
                InsertionMode = InsertionMode.Replace

            }))
    {
        <input type="submit" value="Edit" class="btn btn-sm btn-info" />
    }

    </div>
    <div class="col-xs-2">
            @Ajax.ActionLink(linkText: "Delete",
     actionName: "Delete",
     controllerName: "People",
     routeValues: new { search = Model.Name },
     ajaxOptions: new AjaxOptions
     {
         UpdateTargetId = "showPartial",
         InsertionMode = InsertionMode.Replace
     })
          
        </div>

    </div>



