@model List<AssignmentMVC.Models.People>
@{
    var CurrentList = Model;
}

<div class="container" id="showPartial">


    @foreach (var item in Model)
    {
                Html.RenderAction("RenderPeople", "People", new { p = item });
  
   }

</div>

